body {
    background-color: #203562;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
}
a {
    color: #0ce6f2;
    text-decoration: none;
    margin: 20px;
    display: inline-block;
}
a:hover {
    color: #0098db;
    text-decoration: underline;
}
h1 {
    color: #0ce6f2;
    font-size: 24px;
}
p {
    font-size: 16px;
}
input[type="number"], input[type="submit"], input[type="button"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
    background-color: #0ce6f2;
    color: #203562;
    cursor: pointer;
}
input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #0098db;
}
table {
    width: 80%;
    margin: 10px auto;
    color: #ffffff;
}
th, td {
    padding: 10px;
    text-align: center;
}
table, th, td {
    border: 2px solid #ffffff;
    border-collapse: collapse;
}